html, body{
	margin: 0;
	padding: 0;
	height: 100%; 
	width: 100%; 
}

h1 {
	font-size: 56px;
	color: #000000;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    /*height: 100%;*/
    background-color: #019875;
    /*background-color: #009933;*/
    /*background: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .6) ), url(background.png) no-repeat center center scroll;*/
    /*background-color: #3B653D;*/
    /*background-color: #51B948;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.signup-form {
    min-width: 50%;
    min-height: 30px;
}

.signup-btn {
    min-height: 48px;
    border-radius: 5px;
}

.form {
    /*font-size: 1.8rem;*/
    padding: 1.2rem;
    margin-right: 1.5rem;
    color: #000;
    outline: 0;
    border-radius: 5px;
    font-family: Roboto,sans-serif;
    border: 1px solid transparent;
    transition: 125ms border;
    flex-grow: 1;
}

#signup-form #signup-email {
    font-size: 1.8rem;
    padding: 1.2rem;
    margin-right: 1.5rem;
    color: #fff;
    outline: 0;
    border-radius: 5px;
    font-family: Roboto,sans-serif;
    border: 1px solid transparent;
    transition: 125ms border;
    flex-grow: 1;
}

.email {

}