extends layout

block content

  div(class="navbar-fixed")
    nav
      div(class="nav-wrapper white z-depth-1")
        a(id="logo" href="#" class="brand-logo left"): img(src="/img/tutrlogo.png" style="height: 45px; margin-top: 7px; margin-left:10px;")
        ul(id="nav-mobile" class="left" style="padding-left: 30px;")
          li: a(id="text" style="color:black; font-size:40px;") &ensp; tutr

        ul(id="nav-mobile" class="right")
          li: a(href="users/register" style="color:green;") SIGN UP
          a(href='auth/login' class="waves-effect waves-light btn green z-depth-1" style="background-color:#009933;") Login

  main(style="margin-bottom:-5px;")
    div(style="margin-top:-40px;")
      div(style="height:500px; width:100%; background-color:black; z-index: -1;")
        div(style="height:400px; width:800px; background-color:black; margin-left:40%;")
          div
            h1(style="font-weight:300; padding-top:20%; color:white;") tutr<br/>On-Demand Tutoring, 24/7
            a(href="#" class="waves-effect waves-light btn-large" style="background-color:#009933; margin-left:50%; margin-top:2%;") watch the video
          a(href="#sign" class="btn-floating btn-large waves-effect waves-light" style="background-color:#009933; margin-top:10%; margin-left:15%;")
            i(class="fa fa-angle-down" style="font-size:30px;")

   div(style="overflow:hidden; position:relative;")
    div(id="sign" style="padding-top:50px;")
      h3(class="center" style="font-weight: 300; font-size: 75px; color: #212121;")&nbsp; <br> JOIN IN
      h5(class="center" style="font-weight: 300;") start by searching for your school below

      div(class="section")
      div(class="section")

      div(style="padding-left:10%")
        nav(class="center-align" style="background-color:grey; width:1100px;")
          div(class="nav-wrapper" style="width:1100px;; background-color:#f3f3f3;")
            form
              div(class="input-field" style="height:60px; background-color:#f3f3f3;")
                input(id="search" type="search" style="height:60px; font-size:45px; text-align:left; background-color:#f3f3f3;" required)
                label(for="search"): i(class="material-icons" style="font-size:35px; color:black;") search
                i(class="material-icons") close

      div(class="section")

      div(style="height:700px; width:100%; background-color:#1e88e5; z-index: -1;")
        div(style="float:left; height:500px; width:50%; margin-top:10%; overflow:auto;")
          img(src="img/tutrfinal.png")
        div(style="float:right; height:500px; width:40%; margin-top:10%; overflow:auto;")
          div
            h3(style="color:white; font-weight:300;") On your terms<br/>&nbsp;&nbsp; On your time
            div(class="container")
              h5(style="color:white; font-weight:300; font-size:20px; float:left;") Whether you're a night owl, an early bird,<br/> or somewhere in between,<br/>
                 you can use tutr to get help whenever you need it, wherever you need it,<br/> on any device.

      div(style="height:700px; width:100%; background-color:#2196f3")
        div(style="float:right; height:500px; width:50%; margin-top:10%; overflow:auto;")
          img(src="img/tutrfinal.png")
        div(style="float:left; height:500px; width:50%; margin-top:10%; overflow:auto;")
          div
            h3(style="color:white; font-weight:300; padding-left:10%;") Personalized help<br/>&nbsp;&nbsp; Just for you</h3>
            div(class="container")
              h5(style="color:white; font-weight:300; font-size:20px;") tutr pairs you with the best and brightest students from your school
                <br/>who have taken the courses you're in<br/> with the professors you have.


      div(style="height:700px; width:100%; background-color:#1e88e5; z-index: -1;")
        div(style="float:left; height:500px; width:50%; margin-top:10%; overflow:auto;")
          img(src="img/tutrfinal.png")
        div(style="float:right; height:500px; width:40%; margin-top:10%; overflow:auto;")
          div
            h3(style="color:white; font-weight:300;") Safe and<br/>&nbsp;&nbsp;&nbsp;&nbsp;Secure
            div(class="container")
             h5(style="color:white; font-weight:300; font-size:20px; float:left;") Safety is our number one priority<br/> tutr requires a current .edu email address to
                          ensure student safety and all payments are completely cashless and secured by stripe

      div(id="banner" style="height:700px; width:100%; background-image: url(img/tutrfinal.png); background-repeat: no-repeat; background-size: cover;")


      div(class="page-footer" style="height:60px; background-color:white;")
        h4(style="color:#dadada;") &nbsp; tutr
