extends layout

block content
    h1=title
    form(method="post", action="")
        div.input
            span.label Subject
            input(type="text", name="subject")
        div.input
            span.label Description
            textarea(name="description")
        div.actions
            input(type="submit", value="Submit!")
