div(class="modal modal-fixed-footer" id="history-modal") 
    div.modal-content
        h5 Transaction History

        table.striped
            thead
                tr.strong 
                    th Tutor
                    th Price

            tbody
                each item in user.transactions
                    tr
                        td #{item.name}
                        td $#{item.price}

    div.modal-footer
        a(class="modal-action modal-close waves-effect waves-green btn-flat") Close
