div.modal(id="account-modal")
    div.modal-content(id="account")
        div.row
            div(class="col s12")
                h5 Request a Tutor

        ul.collection
            each course in user.courses
                a(class="collection-item eng") #{course}

        include ../forms/request

    div.modal-content(id="tutors")
        h5 Tutors in your area
        ul.collection(id="area-tutors")

    div(id="request" class="modal-content center-align")
        div(class="preloader-wrapper big active")
            div(class="spinner-layer spinner-green-only")
                div(class="circle-clipper left")
                    div.circle
                div.gap-patch
                    div.circle
                div(class="circle-clipper right")
                    div.circle
        p(id="loading-message")


