block content


  div(class="navbar-fixed")
    nav
      div(class="nav-wrapper white z-depth-1")
        a(id="logo" href="/" class="brand-logo left"): img(src="/img/tutrlogo.png" style="height: 45px; margin-top: 7px; margin-left:10px;")
        ul(id="nav-mobile" class="left" style="padding-left: 30px;")
          li: a(id="text" style="color:black; font-size:40px;") &ensp; tutr


  div(class="section")

  div(class="container z-depth-2" style="width:450px; height:470px;")
    div(class="section")
    div(class="center")
      img(src="/img/tutrlogo.png" style="height: 100px; top-margin: 4px;")

    div(class="section")

    form(action="", method="post")
      div(class="left" style="color:grey; margin-left:50px;") Enter your .edu email

      div(class="center")
        input(type="email", id="email_address", name="email_address" style="width:350px; background-color:#f3f3f3; border-bottom: #f3f3f3;")

    form(action="", method="post")
      div(class="left" style="color:grey; margin-left:50px;") Enter your password

      div(class="center")
        input(type="password", id="password", name="password" style="width:350px; background-color:#f3f3f3; border-bottom: #f3f3f3; margin-bottom:15px;")

        label(style="float:right; ")
          a(class="pink-text" href="#!" style="padding-right:50px;") forgot password?
      div(class="section")
      div(class="section")

      div(class="center")
        input(type="submit", name="btn_login" class="col s12 l12 btn btn-large waves effect" style="background-color:#009933"
        value="                             Login!                            ")

        div(class="section")
        div(class="section")
          a(class="center" href="/users/register/") Don't have an account? Sign Up!

  div(class="section")
  div(class="section")
  div(class="section")
  div(class="page-footer" style="height:60px; background-color:white;")
    h4(style="color:#dadada;") &nbsp; tutr
