form(action="", method="post")
    label Email Address
    input(type="email", id="email_address", name="email_address")

    label Password
    input(type="password", id="password", name="password")

    input(type="submit", value="Login!")
