form(action="/users/update", method="post")
    div.row
        div(class="col s12 input-field")
            label Nickname
            input(type="text" id="nickname", name="nickname", value=user.nickname)

    div.row
        div(class="col s12 input-field")
            label Major
            input(type="text" id="major", name="major", value=user.major, required)
   
    div.row
        div(class="col s12 input-field") 
            label Avatar
            input(type="text" id="pic", name="pic", value=user.pic, required)
   
    div.row
        div(class="col s12 input-field") 
            label Contact
            input(type="tel" id="contact", name="contact", value=user.contact, required)
   
    div.row
        div(class="col s12 input-field right-align") 
            input(type="submit", value="Submit" class="btn blue")
