nav.navbar-fixed
    div(class="nav-wrapper white z-depth-1")
        a(href="/" class="brand-logo center")
            img(src="/img/tutrlogo.png" class="logo-image")

        a(id="logo" href="#" data-activates="slide-out" class="brand-logo left button")
            i(class="material-icons md-dark") menu
        
