nav.navbar-fixed
    div(class="nav-wrapper white z-depth-1")
        img(src="/img/tutrlogo.png" class="logo-image brand-logo center")

        a(id="logo" href="#" data-activates="slide-out" class="brand-logo left button")
            i(class="material-icons md-dark") menu
        
