nav.navbar-fixed
    div(class="nav-wrapper white z-depth-1")
        a(href="/" class="brand-logo center")
            img(src="/img/tutrlogo.png" style="height: 45px; margin-top: 7px;")

        a(id="logo" href="#" data-activates="slide-out" class="brand-logo left button")
            i(class="material-icons" style="color: rgba(0, 0, 0, 0.54);") menu
        
