extends ../layout

block content
  
  main(id="main" style="background-color: #d3d3d3")
    div(class="valign-wrapper" style="width:100%; height:100%; position: absolute;") 
        div(id="desktop" class="valign center" style="width:100%")
          div(class="container")
              div(class="card")
                  div(class="card-content")
                      img(class="center" src="../img/tutrlogo-large.png" style="height:200px; margin-bottom: 0%;")
                      h1(class="center" style="font-weight:300;") Tutr Login
                      br
                      button(onclick="signinGoogle()" name="btn_login" class="btn-large waves effect center" style="background-color:#009933; ") Log in with google
                      br
                      br
                      //- hr(class="center")
                      p Don't have an account? 
                        a(href="") Sign up!
        
  div(class="page-footer")
    h4(id="foot") &nbsp;tutr &nbsp; 
          
  script.
    var auth0 = new Auth0({
        domain:      '#{env.AUTH0_DOMAIN}',
        clientID:    '#{env.AUTH0_CLIENT_ID}',
        callbackURL: '#{env.AUTH0_CALLBACK_URL}',
      });

    function signinGoogle() {
      auth0.signin({
        connection: 'google-oauth2',
      });
    }

    function signinDb() {
      auth0.signin({
        connection: 'Username-Password-Authentication',
        username: document.getElementById('email_address').value,
        password: document.getElementById('password').value,
      });
    }
