div(id="notification-modal" class="modal bottom-sheet")
    div(class="modal-content center-align")
        img(src="#" class="circle")
        p Student Name

        div.row
            div(class="col s6")
                p Location
            
            div(class="col s6")
                p Subject       
        
        div.row
            div(class="col s6 right-align")
                a(id="accept-btn" class="btn-floating btn-large green modal-close")
                    i.material-icons done
            div(class="col s6 left-align")
                a(href="#cancel-modal" class="btn-floating btn-large red modal-trigger modal-close")
                    i.material-icons close
        
