div.modal(id="rating-modal")
    div(class="modal-content center-align")
        h4(id="price") $17.38
        
        div.rating

        div.row
            div(class="col s12 right-align")
                input(id="rating-btn" value="Submit" class="btn green")
