extends index_layout

block content

  //- All graphic site and app images created by Noah Herman. Check out http://noahherman.com/ for more of his work.
  //- All graphic site and app images created by Noah Herman. Check out http://noahherman.com/ for more of his work.

  div(class="navbar-fixed")
    nav
      div(class="nav-wrapper")
        ul
          img(id="imgnav" class="left" src="../img/50.png")
          li
            a(id="tutr") &ensp; tutr 
          ul(id="nav-mobile" class="right hide-on-small-only")
            li
              a(id="signup" href="signup") SIGN UP &ensp;
            a(href="auth/login" class="center waves-effect waves-light btn-large green z-depth-1") Log In
              
  div(class="cont")
    section(id="topparallax")
      div(id="videotitle1" class="hide-on-med-and-down")
        h1(id="videotitle2") tutr
        h1(id="videotitle3") On-Demand Tutoring, 24-7
        a(id="videotitle4" href="##" class="center waves-effect waves-light btn-large green z-depth-1") WATCH THE VIDEO
      

      a(id="playbutton" class="center btn-floating btn-large waves-effect waves-light black hide-on-large-only white")
        i(id="play" class="material-icons") play_arrow
      
  a(id="downarrow" class="center hide-on-med-and-down btn-floating btn-large waves-effect waves-light green") 
    i(class="material-icons") keyboard_arrow_down
    
  div(class="white")
    div(class="center row container hide-on-small-only")
      h2(id="searchdesktop1") JOIN IN
      h5(id="searchdesktop2") Start by searching for your school below

    div(class="center row container hide-on-med-and-up")
      h3(id="mobilesearch1") On-Demand Tutoring, 24/7
      h5(id="mobilesearch2") Search for your school and join in
    
    nav(id="search1" class="z-depth-1")
      form(id="search2" method="post" action="/submit")
        div(id="search3" class="input-field")
          input(id="search4" type="search" name="university" placeholder="example: University at Buffalo" required)
          label(for="search")
            i(id="searchimage" type="submit" class="material-icons") search
            
  div(id="row1" class="row")
    div(class="col s12 l6 center")
      img(src="../img/moon.png")
      
    div(class="col s12 l6")
      div(class="left")
        h3(class="info") On your terms <br/> On your time
        h5(class="info") Whether you're a night owl, an earlybird, or somewhere in between, you can use tutr to get help whenever you need it, wherever you need it, on any device.
    
  div(id="row2" class="row")
    div(class="col s12 l6 center")
      img(src="../img/cloud.png")
      
    div(class="col s12 l6")
      div(class="left")
        h3(class="info") Personalized help<br/> Just for you
        h5(class="info") tutr pairs you with the best and brightest students from your school, who have taken the courses you're in with the professors you have.
  
  div(id="row3" class="row")
    div(class="col s12 l6 center")
      img(src="../img/security.jpg")
      
    div(class="col s12 l6")
      div(class="left")
        h3(class="info") Safe and Secure 
        h5(class="info") Safety is our number one priority tutr requires a current .edu email address and all payments are completely cashless and secured by stripe
    
  div(id="row4" class="row")
    div(class="col s12 l12")
      h1(id="learning" class="center info") Start learning and start earning with tutr
      div(class="center")
        a(href="/signup" id="loginbottom" class="hide-on-small-only waves-effect waves-light btn-large green z-depth-1") SIGN UP
    
  div(id="row5" class="row")
  
  div(class="page-footer")
    h4(id="foot") tutr
    //- h5(id="foot") team
    //- a(href="/signup" id="foot" style="font-size: 27px;") help
    
  a(href="" class="center hide-on-med-and-up" id="download") DOWNLOAD
