doctype html
html
  head
    title= title
    link(rel='stylesheet', href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='newest stylesheet', href='/stylesheets/rating.css')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")        
    script(src="http://cdn.auth0.com/w2/auth0-7.2.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    block content

    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript", src="/materialize.min.js")

    script(type="text/javascript", src="/modal-transition.js")

    script(type="text/javascript", src="/jquery.star.rating.js")


    script.
        $('.button').sideNav();
        $(".modal-trigger").leanModal();
        $('.rating').addRating();
