extends layout

block content

  main(id="main")
  
    div(id="page1" data-role="page" data-prev="" data-next="#page2")
      div(data-role="content")
        h5(class="center" style="color:white; padding-top: 100%; font-weight: 200;") Help is a tap away 
        p(class="center" style="color:white;") fuck you tim fuck you big meat always <br/> big meat people big meats big meats <br/> big meat people big meats big meats

    div(id="page2" data-role="page" data-prev="#page1" data-next="#page3")
      div(data-role="content")
        h4(class="center" style="color:white; padding-top: 100%; font-weight: 200;") Start Earning
        p(class="center" style="color:white;") fuck you tim fuck you big meat always <br/> big meat people big meats big meats <br/> big meat people big meats big meats
      
      
    div(id="page3" data-role="page" data-prev="#page2" data-next="")
      div(data-role="content")
      
      

        
  //-   div(id="thing")
  //-     img(class="sliderimage" src="../img/gethelp.png")
  //-     
  //- h5(class="center" style="padding-bottom: 1%; color: white;") Help is a tap away
  //- 
  //- div(class="center" style="padding-bottom: 50%;  color: white;") This is text this is text this is text this <br/> more;laksflkadj;lsj;alskj a;ldlakjs;dklj
  
