


html{
      background-color: #FFFFFF;
}
body{
      background-color: #f3f3f3;
}
/*
ul{
      background-color: #009933;
}

a{
      background-color: #009933;
}

nav{
      background-color: #009933;
}
*/

i{
      color: #FFFFFF;

}
.others{
      color: #009933;
}

/* label focus color */
  .input-field input[type=text]:focus + label {
    color: #009933;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #009933;
    box-shadow: 0 1px 0 0 #009933;
  }
.material-icons.md-48.center { font-size: 48px; }
