div(id="delete-modal", class="modal")
    div(class="modal-content center align")
        h4 Whoa there!
        form(action="/users/remove", method="post")
            a(class="btn grey modal-close") Cancel
            input(type="submit", class="btn red",  value="Yep, delete it")
